ul{
    z-index: 1;
    position: fixed;
    top: 0;
    left: -5px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    background-color: #333;
}
li{
  display:inline;
  margin: 0px 80px;
  padding: 0px 10px;
  font-size: 40px;
  float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
}

li a:hover:not(.active) {
    background-color: #111;
}
.container {
  padding-top:100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.old-price{
  text-decoration: line-through;
}
.sale-price{
  color: red;
}
.shop-name{
  position:absolute;
  text-color:black;
  font-size: 25px;
}
.item{
  margin: 20px 10px;
  border: 1px solid black;
  width: 400px;
}

img{
  width: 398px;
  border: 1px solid black;
}
span{
  display: block;
  text-align: left;
  margin: 5px;
  
}